<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpiderDocsServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://spiderdocs.spiderdevelopments.com.au:5321/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="WebReference.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <SpiderDocsServer.Properties.Settings>
            <setting name="clientId" serializeAs="String">
                <value>---</value>
            </setting>
            <setting name="clientName" serializeAs="String">
                <value>---</value>
            </setting>
            <setting name="dtUpdateCheck" serializeAs="String">
                <value>---</value>
            </setting>
            <setting name="product_key" serializeAs="String">
                <value />
            </setting>
        </SpiderDocsServer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tesseract" publicKeyToken="ebeb3d86bef60cbe" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.1" newVersion="5.5.13.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
