
@{
	ViewBag.Title = "Group - Registration";
	Layout = "~/Views/Shared/_LayoutWebApp.cshtml";
}

@section JavaScript
{
	@Scripts.Render("~/bundles/js/webapp/registration-group")

}
<div ng-controller="registrationGroupController">


	<div class="main-container">

		<div class="page-header page-header--flat panel--navy">
			<div class="page-header__title-full">
				<h1>Registration - Group</h1>
				<i class="glyphicon glyphicon-menu-hamburger size--2r spider-colour" sidebarjs-toggle="menuSidebarJS"></i>

				<div class="form-field form-field--small">
					<label for="" class="form-field__label">&nbsp;</label>
					<div class="form-field__select--blue">
						<button type="button" class="btn btn--secondary btn--yellow" ng-click="new()">New</button>
					</div>
				</div>

			</div>
		</div>

		<div class="container container--edge container--underlap container--full">

			<div class="reg-group-table panel--white panel--border">

				<div class="reg-group-table__header">
					<div class="reg-group-table__col reg-group-col--group-name">
						<button type="button"
								class="btn-sort">
							<span>Group\Department</span>
						</button>
					</div>
					<div class="reg-group-table__col reg-group-col--comment">
						<button type="button"
								class="btn-sort" >
							<span>Comments</span>
						</button>
					</div>
				</div>

				<div id="{{'item_'+$index}}" class="reg-group-table__row "  ng-repeat="group in data.groups">


					<div class="reg-group-table__col reg-group-col--group-name">
						<div class="reg-group-table__col-header ">Group\Department</div>
						{{group.group_name}}
					</div>
					<div class="reg-group-table__col reg-group-col--comment">
						<div class="reg-group-table__col-header ">Comments</div>
						{{group.obs}}
					</div>

					<a href="" class="btn btn--small btn--shadow row-hover margin-top--15 reg-group-col--edit" target="_self" ng-click="edit(group)" ng-show="group.id !== 1">Edit</a>
				</div>

				<div class="reg-group-table-zero" ng-show="data.docs.length == 0">
					No group is found!
				</div>
			</div>

		</div>

	</div>

		<sidebarjs sidebarjs-name="menuSidebarJS"  sidebarjs-config="{position: 'left'}">

			<div class="main-header--sidebar">
				<nav class="main-nav" aria-label="Primary Nav">
					<ul>
					<li class="dropdown dropdown-1 main-nav__mob-menu">
						<div>
							<a sidebarjs-toggle="menuSidebarJS" href="@Url.Action("Index", "WorkSpace")" target="_self"  href="">Local Workspace</a>
							<a sidebarjs-toggle="menuSidebarJS" href="@Url.Action("Local", "WorkSpace")" target="_self"  href="">User Workspace</a>
						</div>
					</li>

					</ul>
				</nav>
			</div>

		</sidebarjs>

</div>

