<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="C:\Users\takeo\Desktop\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
    <!-- ********** Production ********** -->
    <target xsi:type="File" name="production.critical" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${machinename} ${callsite} - ${message} ${exception:format=StackTrace}"
    />

    <target xsi:type="File" name="production.non-critical" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} - ${message}"
            archiveFileName="${basedir}/logs/archives/log.{#}.txt"
            maxArchiveFiles="30"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
      />
    <target xsi:type="File" name="production.debug" fileName="${basedir}/logs/debugs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} - ${message}"
            archiveFileName="${basedir}/logs/archives/log.{#}.txt"
            maxArchiveFiles="30"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
      />
      <target xsi:type="File" name="production.sql" fileName="${basedir}/logs/sql/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} - ${message} ${exception:format=StackTrace}"
            archiveFileName="${basedir}/logs/archives/log.{#}.txt"
            maxArchiveFiles="30"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
      />

    <target xsi:type="File" name="production.update" fileName="${basedir}/logs/update/${shortdate}.log"
                layout="${longdate} ${uppercase:${level}} ${callsite}  - ${message} ${exception:format=StackTrace}"
                archiveFileName="${basedir}/logs/archives/log.{#}.txt"
                maxArchiveFiles="30"
                archiveNumbering="Date"
                archiveEvery="Day"
                archiveDateFormat="yyyyMMdd"
    />

    <target type='WebService'
            name='production.webservice'
            url='http://spiderdocs.spiderdevelopments.com.au:5321/ClientControl/mvc/view/Log.aspx'
            protocol='HttpGet'
            encoding='UTF-8'   >

        <parameter name='level' type='System.String' layout='${uppercase:${level}}'/>
        <parameter name='callsite' type='System.String' layout='${callsite}'/>
        <parameter name='machinename' type='System.String' layout='${machinename}'/>
        <parameter name='message' type='System.String' layout='${message}'/>
        <parameter name='StackTrace' type='System.String' layout='${exception:format=StackTrace}'/>
    </target>
    
    <!-- ********** Debug ********** -->
    <target xsi:type="File" name="dev.critical" fileName="${basedir}/logs/${shortdate}.log"
        layout="${longdate} ${uppercase:${level}} ${machinename} ${callsite} - ${message} ${exception:format=StackTrace}"
    />

    <target xsi:type="File" name="dev.non-critical" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} - ${message}"
            archiveFileName="${basedir}/logs/archives/log.{#}.txt"
            maxArchiveFiles="1"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
      />
    <target xsi:type="File" name="dev.debug" fileName="${basedir}/logs/debugs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} - ${message}"
            archiveFileName="${basedir}/logs/archives/log.{#}.txt"
            maxArchiveFiles="1"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
      />
      <target xsi:type="File" name="dev.sql" fileName="${basedir}/logs/sql/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} - ${message} ${exception:format=StackTrace}"
            archiveFileName="${basedir}/logs/archives/log.{#}.txt"
            maxArchiveFiles="1"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
      />

    <target xsi:type="File" name="dev.update" fileName="${basedir}/logs/update/${shortdate}.log"
                layout="${longdate} ${uppercase:${level}} ${callsite}  - ${message} ${exception:format=StackTrace}"
                archiveFileName="${basedir}/logs/archives/log.{#}.txt"
                maxArchiveFiles="1"
                archiveNumbering="Date"
                archiveEvery="Day"
                archiveDateFormat="yyyyMMdd"
    />

    <target type='WebService'
        name='debug.webservice'
        url='http://localhost:55813/mvc/view/Log.aspx'
        protocol='HttpGet'
        encoding='UTF-8'   >

        <parameter name='level' type='System.String' layout='${uppercase:${level}}'/> 
        <parameter name='callsite' type='System.String' layout='${callsite}'/>
        <parameter name='machinename' type='System.String' layout='${machinename}'/>
        <parameter name='message' type='System.String' layout='${message}'/>
        <parameter name='StackTrace' type='System.String' layout='${exception:format=StackTrace}'/>
    </target>


  </targets>

  <rules>
    <!--
    <logger name="SQL" minlevel="Info" writeTo="production.sql" final="true"/>
    <logger name="*" minlevel="Warn" writeTo="production.critical" />
    <logger name="*" minlevel="Warn" writeTo="production.webservice" />
    <logger name="*" levels="Info" writeTo="production.non-critical" />
    <logger name="*" level="Debug" writeTo="production.debug" final="true"/>
    <logger name="Updater" minlevel="Info" writeTo="production.update" final="true"/>    
    
    -->
    
    <logger name="SQL" minlevel="Trace" writeTo="dev.sql" final="true"/>
    <logger name="*" minlevel="Warn" writeTo="dev.critical" />
    <logger name="*" minlevel="Debug" writeTo="dev.non-critical" />
    <logger name="*" minlevel="Trace" writeTo="dev.debug" final="true"/>
    <logger name="Updater" minlevel="Info" writeTo="dev.update" final="true"/>    
    
  </rules>
</nlog>
