<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="12.0.0" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net452" />
  <package id="LazyCache" version="0.7.1.44" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="NLog" version="4.5.9" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
  <package id="ZetaLongPaths" version="1.0.0.37" targetFramework="net452" />
</packages>